@use '@nebular/theme/styles/theming' as *;
@use '_tabroute.component.scss' as *;

.route-tabset {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .route-tab {
    margin-bottom: -1px;
    text-align: center;
    padding: 0;

    &.active a::before {
      display: block;
    }

    a {
      position: relative;
      text-decoration: none;
      display: inline-block;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        border-radius: 3px;
        bottom: -2px;
        left: 0;
      }

      nb-icon {
        vertical-align: middle;
      }
    }
  }
}

:host {
  .tab-link nb-icon + span {
    @mixin nb-ltr($prop: margin-left, $value:  0.5rem) {
      @include _prepend-with-selector('[dir=ltr]', $prop, $value) {
        @content;
      }
    };

    @mixin nb-rtl($prop: margin-right, $value:  0.5rem) {
      @include _prepend-with-selector('[dir=rtl]', $prop, $value) {
        @content;
      }
    }
  }
}

:host(.full-width) {
  .route-tabset {
    justify-content: space-around;
  }
}
